$primary-color: hsl(337, 100%, 74%);

.headerMain{
    display: flex;
    height: 100%;

    img{
        height: 100%;
        border-radius: 15px;
        margin-right: 35vw;
    }

    .buttonHeaderHolder{
        display: inline-flex;
        align-items: center;
        padding: 15px;
        width: 100%;
        justify-content: flex-end;
        font-size: 20px;

        .buttonHeaderContainer{
            width: fit-content;
            background-color: $primary-color;
            display: inline-flex;
        }

        .shoppingIcon{
            background-color: $primary-color;
            padding-right: 5px;
            color: white;
        }
    }

}