$primary-color: hsl(337, 100%, 74%);

.market__header-container{
    width: auto;
    max-height: 90px;
    margin: 2.5vw 0.8vw 2.5vh 2.5vw;
    height: 6vw;
}

.market__store-container{
    width: 60%;
}