$borde-label-color: #a364ad71;
$primary-color: #a820bd;

.shopping-card__label{
    border-bottom: 1px solid;
    border-color: $borde-label-color;
    color: $primary-color;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: start;
    font-weight: bold;
    font-size: 20px;
}